<section class="section-newsletter">
  <div class="newsletter-grid-child">
    <h2 class="section-heading">Stay updated!</h2>
    <p class="newsletter-subtext">
      Join 60,000+ product managers receiving monthly updates on:
    </p>
    <ul class="newsletter-list">
      <li class="newsletter-list-item">
        <img width="21" height="21" src="../img/icon-list.svg" alt="chekmark" />
        <p class="newsletter-features-text">
          Product discovery and building what matters
        </p>
      </li>
      <li class="newsletter-list-item">
        <img width="21" height="21" src="../img/icon-list.svg" alt="chekmark" />
        <p class="newsletter-features-text">
          Measuring to ensure updates are a success
        </p>
      </li>
      <li class="newsletter-list-item">
        <img width="21" height="21" src="../img/icon-list.svg" alt="chekmark" />
        <p class="newsletter-features-text">And much more!</p>
      </li>
    </ul>
    <form id="newsletter-form" novalidate>
      <fieldset class="newsletter-field">
        <div class="newsletter-field-top">
          <label class="newsletter-label" for="email">Email address</label>
          <span aria-live="polite" class="newsletter-error-msg"
            >Valid email required</span
          >
        </div>
        <input
          class="newsletter-input"
          type="email"
          name="email"
          id="newsletter-email"
          placeholder="email@company.com"
        />
      </fieldset>
      <button class="newsletter-button" type="submit">
        <span>Subscribe to monthly newsletter</span>
      </button>
    </form>
  </div>
  <div class="newsletter-grid-child">
    <picture class="newsletter-image">
      <source
        media="(min-width: 768px)"
        srcset="../img/illustration-sign-up-desktop.svg"
      />
      <img
        width="375"
        height="284"
        src="../img/illustration-sign-up-mobile.svg"
        alt="aplication window, chart numbers"
      />
    </picture>
  </div>
</section>
