/*** Attribution footer ***/
.attribution {
  color: #fcfcfc;
  padding: 16px;
  text-align: center;
}
.attribution_wrap {
  margin: 0 auto;
}

.attribution a {
  text-decoration: underline;
  opacity: 0.7;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.attribution a:hover,
.attribution a:focus {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .attribution {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .attribution_wrap {
    max-width: 100%;
  }
}
