/*** Variables ***/
:root {
  /* Primitives */
  --color-dark-navy: #36384d;

  /* Colors */
  --bg-body-color: var(--color-dark-navy);

  /* Desktop - Success */
  --text-body-color: var(--color-dark-navy);

  /* Fonts */
  --font-family: 'Roboto', sans-serif;
}
